version: '3'

services:
  influxdb:
    image: influxdb:1.7.3
    container_name: metrics_influxdb
    hostname: influxdb
    volumes:
      - ./docker/influxdb:/docker-entrypoint-initdb.d
      - ./docker/data/influxdb:/var/lib/influxdb
    environment:
      INFLUXDB_DB: metrics

#  chronograf:
#    image: chronograf:1.7.7
#    container_name: metrics_chronograf
#    hostname: chronograf
#    environment:
#      INFLUXDB_URL: http://influxdb:8086
#    ports:
#      - 8888:8888

  grafana:
    image: grafana/grafana:5.4.3
    container_name: metrics_grafana
    hostname: grafana
    volumes:
      - grafana-volume:/var/lib/grafana
    ports:
      - 3000:3000

  telegraf:
    image: telegraf:1.9.4
    container_name: metrics_telegraf
    hostname: telegraf
    volumes:
      - ./docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  nginx:
    image: nginx:1.15.8
    container_name: metrics_nginx
    hostname: nginx
    ports:
      - 8080:80
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./:/app:ro

  php:
    image: metrics_php:latest
    build:
      context: docker/php
    container_name: metrics_php
    hostname: php
    volumes:
      - ./:/app:ro

  mysql:
    image: mysql:5.7.25
    container_name: metrics_mysql
    hostname: mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./docker/mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  redis:
    image: redis:5.0.3
    container_name: metrics_redis
    hostname: redis

  #client:
   # image: php:7.3.1
    #command: php /app/app/client.php
    #volumes:
     # - ./:/app:ro

volumes:
  grafana-volume:
