version: '3.7'

services:
  application:
    container_name: metrics-cluster.east.application
    image: metrics-cluster-application:latest
    build:
      context: docker/application
    volumes:
      - ../:/app:ro
    networks:
      - metrics-cluster.east

  load_balancer:
    container_name: metrics-cluster.east.load_balancer
    image: nginx:1.17.4-alpine
    volumes:
      - ./docker/nginx/telegraf.conf:/etc/nginx/nginx.conf:ro
    networks:
      - metrics-cluster.east
    expose:
      - "8125/udp"

  telegraf_main:
    container_name: metrics-cluster.east.telegraf_main
    image: telegraf:1.12.2-alpine
    volumes:
      - ./docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    networks:
      - metrics-cluster.east
      - metrics-cluster.wan

  telegraf_backup:
    container_name: metrics-cluster.east.telegraf_backup
    image: telegraf:1.12.2-alpine
    volumes:
      - ./docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    networks:
      - metrics-cluster.east
      - metrics-cluster.wan

networks:
  metrics-cluster.east:
    driver: bridge
  metrics-cluster.wan:
    external: true