version: '3.7'

services:
  application:
    container_name: metrics-cluster.west.application
    image: metrics-cluster-application:latest
    build:
      context: docker/application
    volumes:
      - ../:/app:ro
    networks:
      - metrics-cluster.west

  load_balancer:
    container_name: metrics-cluster.west.load_balancer
    image: nginx:1.17.4-alpine
    volumes:
      - ./docker/nginx/telegraf.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - metrics-cluster.west

  telegraf_main:
    container_name: metrics-cluster.west.telegraf_main
    image: telegraf:1.12.2-alpine
    volumes:
      - ./docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    networks:
      - metrics-cluster.west
      - metrics-cluster.wan

  telegraf_backup:
    container_name: metrics-cluster.west.telegraf_backup
    image: telegraf:1.12.2-alpine
    volumes:
      - ./docker/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    networks:
      - metrics-cluster.west
      - metrics-cluster.wan

networks:
  metrics-cluster.west:
    driver: bridge
  metrics-cluster.wan:
    external: true